_site
.bundle
.DS_store
.idea
.jekyll-cache
.jekyll-metadata
.sass-cache
.tweet-cache
.venv
*.pre-wiki-workflows.bak
assets/libs/
assets/rendercv/rendercv_output/*.typ
Gemfile.lock
node_modules/
vendor
